<div class="skills" <% if (typeof(background) != "undefined" || typeof(color) != "undefined") { %> style="<% if (typeof(background) != "undefined") { %> background:<%= background %>;<% } %><% if (typeof(color) != "undefined") { %> color:<%= color %>;<% } %>"<% } %>>

<div class="container">
<h2><%=title%></h2>


<% if (typeof(intro) != "undefined") { %>
<div class="row">
    <%=intro%>
</div>
<% } %>

<div class="row">
<% for (var i=0; i<skills.length; i++) { %>
    <div class="col-lg-4 col-md-4 col-xs-6">
        <div class="panel panel-default <% if(typeof(skills[i].panel) != "undefined"){ %> panel-<%=skills[i].panel%><% } %>">
            <div class="panel-heading">
                <h3 class="panel-title"><%=skills[i].title%></h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar<% if(typeof(skills[i].context) != "undefined"){ %> progress-bar-<%=skills[i].context%><% } %><% if(skills[i].striped == true){ %> progress-bar-striped<% } %><% if(skills[i].active == true){ %> active<% } %>" role="progressbar" aria-valuenow="<%=skills[i].progress%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=skills[i].progress%>%">
                        <span class="sr-only"><%=skills[i].progress%>% Complete</span>
                    </div>
                </div>
                <% if (typeof(skills[i].content) != "undefined") %>
                <p>
                    <%= skills[i].content %>
                </p>
            </div>
        </div>
    </div>
<% } %>
</div>
</div>
</div>
